<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
  <p>
    This app was built <a target="blank" href="https://www.merriam-webster.com/dictionary/fun">for fun</a>!
  </p>
  <br />
  <p>
    Go ahead, find your favorite <a target="blank" href="http://chucknorrisjokes.linkpress.info/top-100">Chuck Norris quote</a> and enter them here!
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'chuck.jpg', class: 'img-fluid' %>
</div>
<div class="col-12 col-sm-7 offset-sm-1">
  <h2>Chuck Norris</h2>
  <br/>
  <p>
    Chuck Norris, kicking ass since he was a zygote
  </p>
</div>
<br class="clear"/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
