<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
  <p>
    This app was built by <a target="blank" href="#">me</a> and I'm so wonderful and so clever to have built it.
  </p>
  <br />
  <p>
    It's going to be a good living, and I will write more wonderful things about myself soon.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'chuck.jpg', class: 'img-fluid' %>
</div>
<div class="col-12 col-sm-7 offset-sm-1">
  <h2>Chuck Norris</h2>
  <br/>
  <p>
    Chuck Norris, kicking ass since he was a zygote
  </p>
</div>
<br class="clear"/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
